# Node.js
node_modules/
.env

# MongoDB
*.wt
*.bson
*.lock
WiredTiger*
diagnostic.data/
journal/
mongod.lock
storage.bson

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
